.meeting{
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.title{
    font-size: 24px;
    color: dodgerblue;
    margin: 0;
}

.desc{
    font-size: 14px;
    color: gray;
    margin: 1;
}

.meeting-cards{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}